<%= title jt(:login) %>

<%= form_tag sessions_path do %>
  <li>
    <%= label_tag :username, ft(:username) %>
    <%= text_field_tag :username %>
  </li>
  <li>
    <%= label_tag :password, ft(:password) %>
    <%= password_field_tag :password %>
  </li>
  <div id="flash_plus_button">
    <%= render 'layouts/flash', flash:flash %>
    <%= submit_tag t(:login) %>
  </div>
<% end %>
