<%= title mess(:mail_forward_settings_for, user:current_userid) %>

<%= form_tag update_multiple_forward_filters_path, :method => :put do %>
  <% no = 1 %>
  <% @filters.each_with_index do |filter,i| %>
    <% if filter.new_record? || filter.is_forward? %>
      <%= render 'address_field', filter:filter, i:no %>
    <% else %>
      <%= render 'filter_field', i:6, filter:filter %>
      <% no -= 1 %>
    <% end %>
    <% no += 1 %>
  <% end %>
  <div id="keep">
    <div class="first-col">
      <%= label_tag :keep, mess(:keep_a_copy_on_the_server) %>
      <%= check_box_tag :keep, 'yes', @keep %>
    </div>
    <%# submit_tag add(:address_field) %>
    <div class="clear"></div>
  </div>
  <div id="flash_plus_button">
    <%= submit_tag jt(:update) %>
  </div>
<% end %>
