<%= title mess(:mail_forward_settings_for, user:current_userid) %>

<%= form_tag update_multiple_forward_filters_path do %>
  <% @filters.each_with_index do |filter,i| %>
    <%= render 'address_field', i:i+1 %>
  <% end %>
  <div id="keep">
    <div class="first-col">
      <%= label_tag :keep, mess(:keep_a_copy_on_the_server) %>
      <%= check_box_tag :keep %>
    </div>
    <%= submit_tag add(:address_field) %>
  </div>
  <div id="flash_plus_button">
    <%= render 'layouts/flash', flash:flash %>
    <%= submit_tag jt(:update) %>
  </div>
<% end %>
